{% extends "base.html" %}

{% block content %}
<table id='requests'>
    <thead>
        <tr>
            <th>URL</th>
            <th>Time</th>
            <th>Method</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
    </thead>
</table>

<br/>

<a id="more" class="btn-large waves-effect waves-light orange">Load More</a>

<!--
<input class="btn-large waves-effect waves-light orange" id="more" type="submit" value="Load More" />
-->

<script src="{{ url_for('static', filename = 'app.js') }}"></script>
{% endblock %}