<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <code>
    <h1>LogStar</h1>
    <table id='requests' cellspacing="10">
        <tr>
            <th>URL</th>
            <th>time</th>
            <th>method</th>
            <th>status</th>
            <th>created at</th>
            <!-- TODO: add status, method, time -->
        </tr>
    </table>
    <!--
    TODO: continually poll the API looking for newer requests
    TODO: add get more button
    -->
    </code>
    <script src="{{ url_for('static', filename = 'app.js') }}"></script>
</body>
</html>